* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fondo:#933;
$sombra:#444;
$verder-claro: #393;
$azul-claro:#399;
$amarillo-claro:#993;
$morado:#939;
$azul-medio: #339;


body {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vw;
    height: 50vh;
    background-color: $fondo;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    h1 {
        background-color: #393;
        border-radius: 30px;
        width: 30%;
        height: 10%;
        text-align: center;
        box-shadow: 5px 10px 10px $sombra;
    }

    h1::before{
        content: '';
        display: block;
        width: 200px;
        height: 10px;
        border-radius: 50%;
        background-color:$sombra;
        position: absolute;
        top:270px;
        left:600px;
        opacity: 0.5;
        transform: skewX(-40deg);
    }

    p {
        background-color: $fondo;
        margin: 40px;
        width: 30%;
        height: 10%;
        text-align: center;
        border-radius: 30px;
        vertical-align: auto;
    }

}