*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #444;
}

.div-primario{
    background-color: #000;
    border-radius:50%;
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
    position: relative;
    display:flex;
}

.div-primario::before{
    content: " ";
    display: inline;
    background-color: #fff;
    border-radius:50%;
    width: 200px;
    height: 200px;
    position: absolute;
    /* animation: rotate 4s alternate infinite ease-in-out; */
    z-index: 1; 
}


@keyframes rotate {
    0%{
        transform: translateY(50px);
    }
    50%{    
        transform: translateY(200px);  
    }100%{
       transform: translateY(300px);
    }
}